*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#very-top-item{
    background-color: #BEC0B5;
    color: rgb(255, 196, 0);;
    padding: 15px 0;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
}


.header-bg{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.144),
    rgba(0, 0, 0, 0.5)), url("./main-image.jpeg");
    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    /* max-width: 100% ; */
    width: 100vw; 
    background-blend-mode: multiply;
}

.second-top-item{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding:15px 100px ;
} 

.second-top-item img{
    color: white;
}

.nav-bar {
display: flex;
gap: 15px;
justify-content: center;
}
  
 /* margin: 0 5px;  */
 

.nav-bar li{
    list-style: none;
}

.nav-bar li a{
    text-decoration: none;
    font-size: 1.5rem;
    color:  white;
}


a:hover{
    padding: 2px;
    border-bottom: 2px solid blueviolet;
}

.nav-bar-buttons{
    text-align: center;  

    display: flex;
    gap: 15px;
  }
  
  .nav-bar-buttons button{
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 1rem;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  }

.apply-btn{
    background-color: white;
    color:  rgb(255, 196, 0);

}

.Donations{
    background-color:  rgb(255, 196, 0);
    color: white;
}

.header-text{
    color: white;
}